.container{
    min-width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #303036;
}

.title h2 {
    font-size: 1.8rem;
    color:  #30BCED;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
 } 

/* Landing */

.container__elL{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
}

.btn_lo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    width: 100px;
    border: 1px solid #30BCED;
    margin-right: 20px;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.95rem;
    color: #30BCED;
}

.btn_re{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    width: 100px;
    border: 1px solid #30BCED;
    margin-right: 20px;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.95rem;
    background-color: #30BCED;
    color: #ffff;
}


/* En general */ 

.container__el{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
}

.productora{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0px 20px 0px 20px;
    
  

}

.productora button{
    background-color: transparent;
    border: none;
    margin: auto;
    color:  #626262;
      font-family: 'Inter';
      font-size: 1rem;
font-style: normal;
font-weight: 400;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buscador input{
    height: 35px;
    width: 230px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search{
    height: 35px;
    width: 35px;
    background-color: #30BCED;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.funciones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0px 20px 0px 20px;
}

.funciones button{
    background-color: transparent;
    border: none;
    margin: auto;
}

.user{
   color: #30BCED;
   font-family: 'Inter';
   font-size: 1.2rem;
font-style: normal;
font-weight: 400;
 }

 .logout{
   color:#F0544F;
   font-family: 'Inter';
   font-size: 1.2rem;
font-style: normal;
font-weight: 400;
}